@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&family=Poiret+One&display=swap');

:root{
  --prime-font: 'Nunito Sans', sans-serif;
  --second-font: 'Poiret One', cursive;
  --primary-color: #848484;
  --secondary-color: rgb(24, 31, 25);
}
html{
  font-size: 62.5%;
}
body {
    margin: 0px;
    font-family: var(--prime-font);
    font-weight: 200;
    background-image: url('../public/bg-wallpaper.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    
  }

  /* ===== css for nav bar ==== */
  img{
      height: 50px;
      visibility: hidden;;
  }
  .nav {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    box-shadow: 0 0 5px #333;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    font-family:var(--second-font);
    text-transform: uppercase;;
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 15px 10px 10px 10px;
    position: absolute;
    color: black;
  }
  .nav-title:hover , .nav > img{
    cursor:pointer;
  }
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color:black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition:0.2s;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid black;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      /* transition: all 0.3s ease-in; */
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* ======= css for main page ===== */
center .content{
  display:block;
  position: absolute;
  top :22rem;
  left: 11rem;
  color: var(--primary-color);
  text-align: left;
}
.Main-heading{  
  font-family: var(--second-font);
  font-weight:bold;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.heading-para{
  font-family: var(--prime-font);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
button{
  width: 150px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  font-family: var(--prime-font);
}

/* ===== css for footer ====== */
.sec-footer{
  position: fixed;
  bottom:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height:15%;
  background-color: var(--secondary-color);
  color:var(--primary-color)
}
.footer{
  display:flex;
  align-items: center;
  gap:2rem;
  margin-bottom:2rem;
}
.contributor{
  display:flex;
  flex-direction: row;
  gap: 1rem;
  font-size:2rem;
}
.icon{
  position: relative;
  top:10%
}
.social:hover{
  color: white;
  transition: 0.5s;
  cursor:pointer;
}
.copyright{
  font-size:1.5rem;
  margin-bottom:5px;
}

/* deals */

.deals-page{
  
}