@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Nunito+Sans:ital,wght@0,200;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  :root {
    --accent-color: #8f7cec;
    --secondary-color: rgb(0, 0, 0);
    --tertiary-color: #7fcbbf;
    --primary-font: 'Nunito Sans', sans-serif;
    --secondary-font: 'Comfortaa', cursive;
  }
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    background-color: rgb(18, 18, 18);
    width: 100vw;
    min-height: 100vh;
    font-family: var(--primary-font);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--secondary-font);
  }

.SignUp-Box{
    position:absolute;
    top:50%;
    left:50%;
    width:600px;
    padding:40px;
    transform:translate(-50%, -50%);
    background:#242026;
    box-shadow: 0 10px 30px rgba(143,124,236,0.3);
    border-radius: 10px;
}

.SignUp-Box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.SignUp-Box .user-box input {
    position: relative;
    width:100%;
    padding: 10px 0;
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.SignUp-Box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    pointer-events:none;
    transition: .5s;
}
.SignUp-Box .user-box input:focus~label, .SignUp-Box .user-box input:valid~label {
    top: -85px;
    left: 0;
    color: var(--accent-color);
    font-size: 10px;
}

.confirmPassWord-box,.password-box{
    display:inline-block;
}
.password-box{
    width: 250px;
}
.confirmPassWord-box{
    width:250px;
    margin-left: 20px;
}
.register-button{
padding: 10px 20px;
color: #cbbddb;
font-size: 0.7rem;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
letter-spacing: 4px;
border: 2px solid var(--accent-color);
margin: auto;
background:#242026;
}
.register-button:hover{
    background-color: var(--accent-color);
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px var(--accent-color), 0 0 15px var(--accent-color), 0 0 0 var(--accent-color);
}
.button-form{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.login-redirect{
    font-size:14px;
    text-decoration: none;
    color: #cbbddb;
    margin: auto;
    width: 60%;
    text-align: center;
}
.login-redirect link {
    margin: auto;
    color: var(--accent-color);
    text-decoration: none;
}